.wel_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  background: linear-gradient(to bottom, #2a9d8f, #0f3732);
  color: white;
  text-align: center;
  font-family: 'Arial', sans-serif;
}

.wel_logo {
  font-family: 'Irish Grover';
  font-size: 100px;
  font-weight: bold;
  margin-bottom: 10px;
}

.wel_icons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}

.wel_icons img {
  width: 120px;
  height: auto;
}

.wel_subtitle {
  font-family: 'Inknut Antiqua';
  font-size: 44px;
  margin-bottom: 10px;
}

.wel_input-box {
  padding: 15px;
  font-size: 18px;
  width: 360px;
  border-radius: 10px;
  border: none;
  margin-bottom: 40px;
  text-align: left;
}

.wel_error-popup {
  position: absolute;
  top: 10px;
  background-color: #f35b55;
  color: black;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  animation: fadeOut 3s forwards;
}

@keyframes fadeOut {
  0% { opacity: 1; }
  80% { opacity: 1; }
  100% { opacity: 0; }
}

.wel_button-group {
  display: flex;
  gap: 20px;
}

.wel_btn {
  padding: 5px 50px;
  font-family: 'Inknut Antiqua';
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.wel_invite-btn {
  background-color: #f4a261;
}

.wel_join-btn {
  background-color: #f4a261;
}

.wel_btn:hover {
  opacity: 0.8;
}

/* Position the images */
.wel_left-bottom-image, .wel_right-bottom-image {
  position: absolute;
  bottom: 10px; 
  width: 200px; 
  height: auto;
}

.wel_left-bottom-image {
  left: 10px; 
}

.wel_right-bottom-image {
  right: 10px; 
}